
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
header{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(hsla(0, 0%, 97%, .9), #9B8055);

}
nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-inline: 5vw;
}
.nav_icons{
  display: flex;
  gap: 20px;
}
.nav_menu{
  display: flex;
  flex-direction: column;
  border: 1px solid #9B8055;
  position: fixed;
  z-index: 999;
  right: 0%;
  top: 1%;
  width:60vw;
  height: 100vh;
  margin-top: 50px;
}
.nav_menu li{
  list-style: none;
  padding: 15px;
  text-align: center;
}
.nav_menu li a{
  text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #9B8055;
}
.nav_menu li a:hover{
  border-bottom: 2px solid #9B8055;
}
/* body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
} */
/* 
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px;
    /* width: min(1100px,80%);
    margin: 0 auto; 
    align-items:center;
} */

.site {
  list-style: none;
  display: flex;
}
.site a {
  padding: 0px 10px; 
}

header {
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(hsla(0, 0%, 97%, .9), #9B8055);
}

header::after {
  display: block;
}
.site-nav {
  position: absolute;
  top: 100%;       /* top orignally at 100% */ 
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);        /*at top right */
  transition: clip-path ease-in-out 900ms;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  
  
}

nav--open {
  clip-path: circle(250% at top right);
  /* height: 100vh;
  width: 100vw; */
}

.site-nav ul {
  list-style:none;
  height: 100%;
   flex-direction: row; 
   justify-content: space-between;
}
.site-nav li {
  border-bottom: 1px solid #575766;
  
}

/* .site-nav li:last-child {
  border-bottom: none;
} */


nav--open li{
   opacity: 0;
    animation: fadeIn ease-out 800ms forwards;
} 
.site-nav--open li:nth-child(1) { animation-delay: 0ms; }
.site-nav--open li:nth-child(2) { animation-delay: 100ms; }
.site-nav--open li:nth-child(3) { animation-delay: 200ms; }
.site-nav--open li:nth-child(4) { animation-delay: 300ms; }


@keyframes fadeIn {
    0% {   opacity: 0; transform: translateX(100px); }
   100% { opacity: 1; transform:  translateX(0%);   }
}

nav--closed li{
  opacity: 1;
  animation: fadeIn ease-out 800ms forwards;
} 

.site-nav--open li:nth-child(4) { animation-delay: 200ms; }
.site-nav--open li:nth-child(3) { animation-delay: 300ms; }
.site-nav--open li:nth-child(2) { animation-delay: 400ms; }
.site-nav--open li:nth-child(1) { animation-delay: 500ms; }

@keyframes fadeOut {
  0% {   opacity: 1; transform: translateX(0%); }
 100% { opacity: 0; transform:  translateX(500px);   }
}

.site-nav a {
  color: #9B8055;
  display: flex;
  padding: 2em 4em;
  text-decoration: none;
  
}

.nav_menu a:hover,
.nav_menu a:focus {
  background: #eccf9f;
  color: #aa7c31;
}


.menu-toggle {
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #9B8055;
  transform: translateY(3px);
   height: 3px;
   width: 2em; 
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
   transform: translateY(13px);  /* initially it is 13 */
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(585deg);
}


.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Desktop view */

@media (min-width: 700px) {
  .nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: initial;
    border: initial;
    margin-top: 2;
    gap: 40px;
    position: absolute;
  }
  .nav_menu li{
    padding: 16px;
  }



  .menu-toggle {
    display: none;
  }
  
  /* .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
    display: flex;
    justify-content: space-evenly;
  } */
  .nav_menu ul{
    display: flex;
    
    
  }
  /* .site-nav ul a{
    margin-left: 1em;
  } */
  
  /* .site-nav li {
    border: none;
  } */
  
  .nav_menu a {
     padding: 0px; 
    margin-left: 1em;
    width: 70vh; 
  }
  
  .nav_menu a:hover,
  .nav_menu a:focus {
    background: transparent;
  }
  
  /* .site-nav--icon {
    display: none;
  } */
  
}
